<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<div class="navbar-toggle" data-toggle="collapse" data-target="#navToCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</div>
			<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
		</div>
		<div class="collapse navbar-collapse" id="navToCollapse">
			{% block nav %}{% endblock %}
			<ul class="nav navbar-nav navbar-right text-center">
				<li><a href=""><span class="glyphicon glyphicon-search"></span></a></li>
				<li><a href=""><span class="glyphicon glyphicon-user"></span></a></li>
				<li><a href=""><span class="glyphicon glyphicon-log-out"></span></a></li>
  		</ul>
  	</div>
	</div>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
	{% block scripts %}{% endblock %}
</body>
</html>
