<!DOCTYPE html>
<html lang="en">
<head>
	<title>Columbia Course Portal - Log In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
</head>

<body class="log-in">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-4 col-sm-4 text-center">
				<img class="img-responsive" src="../static/images/badge.png" alt="CU logo">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6 text-center">
				<h1>Columbia Course Portal
					<br>
					<small>Everything you need for your courses</small>
				</h1>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#user" data-toggle="tab">User</a></li>
					<li><a href="#professor" data-toggle="tab">Professor</a></li>
					<li><a href="#forgot" data-toggle="tab"></a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="user">
						<br>
						<form id="user-login-form" role="form">
							<div class="form-group row">
								<label class="control-label col-sm-1" for="uni">
									<span class="glyphicon glyphicon-user big-icon"></span>
								</label>
								<div class="col-sm-11">
									<input class="form-control" name="uni" type="text" placeholder="Enter Uni">
								</div>
							</div>
							<div class="form-group row">
								<label class="control-label col-sm-1" for="passwd">
									<span class="glyphicon glyphicon-lock big-icon"></span>
								</label>
								<div class="col-sm-11">
									<input class="form-control" name="passwd" type="password" placeholder="Enter Password">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-offset-1 col-sm-6 checkbox">
				      			<label><input type="checkbox">Remember Me</label>
								</div>
								<a class="col-sm-5" href="#" data-toggle="modal" data-target="#forgotModal">Forgot Password?</a>
							</div>
							<button id="user-log-in" type="buttom" class="btn btn-primary">Log In</button>
						</form>
						<a href="#" data-toggle="modal" data-target="#regModal">or sign up</a>
					</div>
					<div class="tab-pane" id="professor">
						To be announced
					</div>
				</div>
			</div>
		</div>

		<!-- Registration Modal -->
		<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Register</h4>
					</div>
					<div class="modal-body">
						<form id="user-register-form" role="form">
							<div class="form-group row">
								<label class="control-label col-sm-1" for="uni">
									<span class="glyphicon glyphicon-user big-icon"></span>
								</label>
								<div class="col-sm-11">
									<input class="form-control" name="uni" type="text" placeholder="UNI">
								</div>
							</div>
							<div class="form-group row">
								<label class="control-label col-sm-1" for="email">
									<span class="glyphicon glyphicon-envelope big-icon"></span>
								</label>
								<div class="col-sm-11">
									<input class="form-control" name="email" type="text" placeholder="Email (@columbia.edu or @barnard.edu)">
								</div>
							</div>
							<div class="form-group row">
								<label class="control-label col-sm-1" for="passwd">
									<span class="glyphicon glyphicon-lock big-icon"></span>
								</label>
								<div class="col-sm-11">
									<input class="form-control" name="passwd" type="password" placeholder="Password (6~15 characters, MUST contain 0-9, a-z and A-Z)">
								</div>
							</div>
							<div class="form-group row">
								<label class="control-label col-sm-1" for="passwd">
									<span class="glyphicon glyphicon-education big-icon"></span>
								</label>
								<div class="col-sm-11">
									<select class="select-school" multiple="multiple">
										<option value="CC">CC</option>
										<option value="BARN">GS</option>
										<option value="BARN">GSAS</option>
										<option value="GS">SEAS</option>
										<option value="SEAS">Barnard</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button id="user-sign-up" type="button" class="btn btn-primary">Register</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Forgot Password Modal -->
		<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
		      </div>
		      <div class="modal-body">
						<form role="form">
							<div class="form-group row">
								<label class="control-label col-sm-1" for="uni">
									<span class="glyphicon glyphicon-user big-icon"></span>
								</label>
								<div class="col-sm-11">
									<input class="form-control" id="email" type="text" placeholder="Email (@columbia.edu or @barnard.edu)">
								</div>
							</div>
						</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary">Reset Password</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="../static/scripts/login.js"></script>
</body>
</html>
