{% extends 'layout.html' %}

{% set user, course_num = ['User', 'COMS4111']%}
{% set is_inspector = False %}

{% block title %}
{{user}} - {{course_num}} - review
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav text-center">
  <li><a href="">{{course_num}}</a></li>
  <li class="active"><a href="">Reviews</a></li>
  <li><a href="">Documents</a></li> 
  <li><a href="">Contribute</a></li>
  {% if is_inspector %}
  <li><a href="">Inspect</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block body %}
Course reviews
{% endblock %}

