{% extends 'layout.html' %}

{% block title %}
{{user}} - overview
{% endblock %}

{% block body %}
  <!-- Table -->
  <table id="courses_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
     <thead>
        <tr>
          <th>{{ header }}</th>
        </tr>
     </thead>

     <tbody>
         {% for item in name %}
        <tr>
          <td><a href={{ url[loop.index0] }}>{{ item }}</a></td>
        </tr>
        {% endfor %}
     </tbody>

  </table>

<script src="../static/scripts/course.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

{% endblock %}
