{% extends 'layout.html' %}

{% block body %}
<div class="blog-header">
  <h1 class="blog-title text-center">{{ course_name }}</h1>
  <p class="lead blog-description text-center">{{ prof_name }}</p>
  <a data-toggle="modal" href="#rateModal"><h5 class="text-center">Rating {{ rating }} ☆</h5></a>
  <a data-toggle="modal" href="#rateModal"><h5 class="text-center">Workload {{ workload }} 💪</h5></a>
  <p class="lead blog-description text-center"></p>
</div>
<!-- Documents -->
<div class="col-lg-5 col-lg-offset-1">
   <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
      </div>
        <div class="list-group">
        {% if documents|length > 0 %}
            {% for document in documents %}
            <a href="#" class="list-group-item">
              <!-- review content -->
              <p class="list-group-item-text">{{ document[4] }}</p>
              <!-- user -->
              <h5 class="list-group-item-text">{{ document[1] }}</h5>
            </a>
            {% endfor %}
        {% endif %}
        <!-- No reviews to output -->
        {% if documents|length == 0 %}
            <a href="#" class="list-group-item">
              <!-- review content -->
              <p class="list-group-item-text">No Reviews!</p>
              <!-- user -->
              <h5 class="list-group-item-text"></h5>
            </a>
        {% endif %}
      </div>
    </div>
  <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#regModal">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Add a Document
  </button>
</div>
<!-- Reviews -->
<div class="col-lg-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Reviews</h3>
      </div>
      <div class="list-group">
        <!-- Output reviews from db -->
        {% if reviews|length > 0 %}
            {% for review in reviews %}
            <a href="#" class="list-group-item">
              <!-- review content -->
              <p class="list-group-item-text">{{ review[4] }}</p>
              <!-- user -->
              <h5 class="list-group-item-text">{{ review[1] }} on {{ review[5] }}</h5>
              <a id="rateareview" data-toggle="modal" href="#rateRevModal" data-rid="{{ review[0] }}" data-target="#rateRevModal"><h6 class="text-center">Review Rating {{ review[7] }} ☆</h6></a>
              <h5 class="list-group-item-text"></h5>
            </a>
            {% endfor %}
        {% endif %}
        <!-- No reviews to output -->
        {% if reviews|length == 0 %}
            <a href="#" class="list-group-item">
              <!-- review content -->
              <p class="list-group-item-text">No Reviews!</p>
              <!-- user -->
              <h5 class="list-group-item-text"></h5>
            </a>
        {% endif %}
      </div>
    </div>
  <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#revModal">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add a Review
  </button>
</div>

<!-- Course Rating Modal -->
<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rate</h4>
            </div>
            <div class="modal-body">
                    <form id="rate-form" role="form" action="/courses/rate/{{did}}/{{pid}}/{{cid}}" method="post">
                        <div class="col-md-offset-3 column">
                        <div class="form-group row">
                            <h4>Rating</h4>
                            <label class="radio-inline ">
                              <input type="radio" name="stars" id="starRadio1" value="1" required> ☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio2" value="2" required> ☆☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio3" value="3" required> ☆☆☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio4" value="4" required> ☆☆☆☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio5" value="5" required> ☆☆☆☆☆
                            </label>
                        </div>
                        <div class="form-group row">
                            <h4>Workload</h4>
                            <label class="radio-inline ">
                              <input type="radio" name="workload" id="workRadio1" value="1" required> LOL
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="workload" id="workRadio2" value="2" required> Easy
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="workload" id="workRadio3" value="3" required> Average
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="workload" id="workRadio4" value="4" required> Hard
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="workload" id="workRadio5" value="5" required> Insane
                            </label>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" value="Submit" type="submit">
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

<!-- Review Rating Modal -->
<div class="modal fade" id="rateRevModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rate Review</h4>
            </div>
            <div class="modal-body">
                    <form id="rate-review" role="form" action="/review/rate/{{did}}/{{pid}}/{{cid}}" method="post">
                        <div class="col-md-offset-3 column">
                        <div class="form-group row">
                            <h4>Rating</h4>
                            <label class="radio-inline ">
                              <input type="radio" name="stars" id="starRadio1" value="1" required> ☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio2" value="2" required> ☆☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio3" value="3" required> ☆☆☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio4" value="4" required> ☆☆☆☆
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="stars" id="starRadio5" value="5" required> ☆☆☆☆☆
                            </label>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" value="Submit" type="submit">
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

<!-- Review Modal -->
<div class="modal fade" id="revModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Review</h4>
            </div>
            <div class="modal-body">
                <form id="review-form" role="form" method="post">
                    <div class="form-group row">
                        <label class="control-label col-sm-1" for="review">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </label>
                        <div class="col-sm-11">
                            <label for="comment">{{ course_name }}</label>
                            <textarea class="form-control" rows="5" name="comment"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" value="Submit" type="submit">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src={{ url_for('static', filename='scripts/review.js') }}></script>

{% endblock %}
