{% extends 'layout.html' %}


{% block title %}
{{ user }} - Home
{% endblock %}

{% block body %}

<div class="col-lg-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">My Courses</h3>
    </div>
  <!-- My Courses List -->
  <div class="panel-body">
	<div class="list-group">
		{% for item in name %}
		  <button type="button" class="list-group-item">
        <a href="{{ url[loop.index0] }}"><b>{{ item }}</b></a>
	          <div class="pull-right action-buttons">
              <a href="{{ to_delete[loop.index0] }}"><span class="glyphicon glyphicon-trash"></span></a>
	           </div>
		  </button>
		  {% endfor %}
    </div>
       <!-- add courses button -->
       <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#subModal">
           <span class="glyphicon glyphicon-glyphicon glyphicon-plus" aria-hidden="true"></span> Add Course
       </button>
     </div>
  </div>
</div>

<!-- Add Subscribed Course Modal -->
<div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a Course</h4>
            </div>
            <div class="modal-body">
                <!-- Table -->
                <table id="courses_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                   <thead>
                      <tr>
                        <th>Professor</th>
                        <th>Course</th>
                        <th></th>
                      </tr>
                   </thead>

                   <tbody>
                      {% for course in all_courses_lst %}
                      <tr>
                        <td>{{ course[0] }}</td>
                        <td>{{ course[1] }}</td>
                        <td>
                            <a href="/add/{{ course[2] }}/{{ course[3] }}" class="btn btn-success btn-sm" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                        </td>
                      </tr>
                      {% endfor %}
                   </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src={{ url_for('static', filename='scripts/course.js') }}></script>
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

{% endblock %}
